@import "./design.tokens.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;  
  background: var(--color-white);
}

a {
  color: var(--color-black);
  text-decoration: none;
  font-weight: 500;
}

header {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

p {
  color: var(--color-text);
}

button {
  font-size: 0.9rem;
  min-width: 64px;
  font-weight: 500;  
  border-radius: 0.3125rem;
  text-transform: capitalize;
  padding: 9px 16px;
  line-height: 1.75;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  border: 0;
}

footer hr {
  height: 0.1px;
  border: 0px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0rem;
}

.footer_container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}