@import "./design.tokens.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pridi', serif;
}

a {
  color: var(--color-black);
  text-decoration: none;
  font-weight: 800;
}

header {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

p {
  color: #929292;
}

button {
  font-size: 0.9rem;
  min-width: 64px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border-radius: 0.3125rem;
  text-transform: capitalize;
  padding: 9px 16px;
  line-height: 1.75;
  background-color: #9C10FF;
  color: #fff;
  cursor: pointer;
  border: 0;
}

footer hr {
  height: 0.1px;
  border: 0px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0rem;
}

.footer_container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}