.container {
    width: 77vw;
    margin-right: auto;
    margin-left: auto;
}

.call_to_action_container {
    text-align: center;        
}

.call_to_action_container h1 {
    color: #fff;
    text-align: center;
    font-size: 7rem;
    font-weight: 700;
    line-height: 7rem;
    margin-bottom: 2rem;
}

.call_to_action_container h1 span {
    background:
    linear-gradient(
            to right,
            rgb(156, 16, 255) 20%,
            rgb(255, 49, 16) 40%,
            rgb(255, 49, 16) 60%,
            rgb(156, 16, 255) 80%);
    background-size: 200% auto;    
    animation: shine 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shine {
    to {
          background-position: 200% center;
    }
}

.call_to_action_container figure {
    text-align: center;
}

.card_container h2 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;    
}


.card {
    padding: 3rem;  
    background-color: #090909;  
    max-width: 450px;
}

.card_header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.badge {
    padding: 0.4rem;
    color: #fff;
    font-size: 0.7rem;
    background-color: #535353;
    width: fit-content;
    border-radius: 0.5rem;
}

.card h3 {
    color: #fff;
}

.quote {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background-color: #9C10FF;
    padding: 5rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}