.container {
    width: auto;
    max-width: 1690px;
    margin-right: auto;
    margin-left: auto;
}

.call_to_action_container {
    text-align: center;        
}

.call_to_action_container h1 {
    font-size: 5rem; 
    color: var(--color-title);
    text-align: center;    
    margin-bottom: 0;
    line-height: 4rem;
}

.title_emphasis {
    color: var(--color-secondary);
    text-shadow: -0.125rem 0.1875rem var(--color-title);
    margin: 0;
    transition: .1s;
}

.title_emphasis:hover {    
    text-shadow: -0.3rem 0.4rem var(--color-primary);
}

.button_microinteraction {
    position: relative;
}

.button_microinteraction span {
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.button_microinteraction span:nth-child(1) {
    top: 0rem;
    left: 3rem;
    animation-name: FadeTopHeart_1 
}

@keyframes FadeTopHeart_1 {
    from {
        opacity: 0;
    }

    to {
        top: -1.5rem;
        opacity: 1;
    }
}

.button_microinteraction span:nth-child(2) {
    top: 1.5rem;
    right: 0rem;
    animation-name: FadeTopHeart_2;
}

@keyframes FadeTopHeart_2 {
    from {
        opacity: 0;
    }

    to {
        top: -1rem;
        opacity: 1;
    }
}

.button_microinteraction span:nth-child(3) {
    top: 1rem;
    left: 0rem;
    animation-name: FadeTopHeart_3;
}

@keyframes FadeTopHeart_3 {
    from {
        opacity: 0;
    }

    to {
        top: -2rem;
        opacity: 1;
    }
}

.call_to_action_container figure {
    text-align: center;
}

.card_container h2 {
    color: var(--color-title);
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0;
    line-height: 3rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 10rem;
  padding: 1rem;
}

.card h2 {
    margin: 0;
    text-align: left;
}

.card a {
    color: var(--color-primary);
}

.card div {
    width: 20rem;
}

.card_reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.card_reverse h2 {    
    text-align: right;
}

.quote {
    max-width: 70rem;
    width: auto;
    color: var(--color-white);
    font-size: 2rem;
    text-align: center;
    background-color: var(--color-primary);
    padding: 5rem;
    margin: 10rem auto;
    border-radius: 1rem;
    line-height: 3rem;
}

@media(max-width: 700px) {
    .quote {
        font-size: 1rem;
    }
}
