.container {
    width: 77vw;
    margin-right: auto;
    margin-left: auto;
}

.call_to_action_container {
    text-align: center;        
}

.call_to_action_container h1 {
    color: #fff;
    text-align: center;
    font-size: 7rem;
    font-weight: 700;
    line-height: 7rem;
    margin-bottom: 2rem;
}

.call_to_action_container h1 span {
    background:
    linear-gradient(
            to right,
            rgb(156, 16, 255) 20%,
            rgb(255, 49, 16) 40%,
            rgb(255, 49, 16) 60%,
            rgb(156, 16, 255) 80%);
    background-size: 200% auto;    
    animation: shine 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shine {
    to {
          background-position: 200% center;
    }
}

.call_to_action_container figure {
    text-align: center;
}
